/* header and nav section */

.embrycode-logo {
  width: 200px;
}

.e-logo {
  width: 60px;
  position: relative;
  top: 5px;
}

#home p {
  line-height: 1em;
}


/* about me section */

#about {
  background-color: white;
  color: #3a3c4a;
  padding-top: 80px;
  padding-bottom: 0;
}


/* what i know section */

#technologies {
  background-color: #1D2026;
  color: #fff;
  padding-top: 70px;
  padding-bottom: 50px;
}

.services {
  background-color: white;
  color: black;
  padding: 50px 30px 15px;
}

.services .item {
  margin-bottom: 0;
}

.other-tech {
  padding: 40px 10px 0 10px;
}


/* featured project section */

#feat-project {
  padding-top: 70px;
  padding-bottom: 50px;
}


/* my work section */

#portfolio {
  padding-top: 70px;
}

/* contact section */

#contact {
  padding-top: 70px;
}


/* media queries */

@media (max-width: 1200px) {
  #main-nav li {
    margin: 0 10px;
  }
}
